@import "fonts/pfhandbookpro.css";

/* 1. GENERIC ELEMENTS
----------------------------------------------------------------------------- */

	/* Reset */
	
	blockquote,
	body,
	div,
	h1,
	h2,
	h3,
	iframe,
	ol,
	p,
	ul { margin: 0; padding: 0; }
	
	/* Base */
	
	html { background: #fff; color: #333; overflow-y: scroll; }
	body { font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif; text-rendering: optimizeLegibility; }
	
	/* Block */
	
	blockquote { color: #ccc; font: 250%/1.2 'PFHandbookProRegular'; margin: 1em 0; text-transform: uppercase; }
	
	h1,
	h2,
	h3 { margin: 1.5em 0 .5em; text-transform: uppercase; }
	h1 { font: 300%/1 'PFHandbookProBold'; letter-spacing: -0.05em; }
	h2 { font: 200%/1 'PFHandbookProRegular'; color: #3cc; }
	h3 { font-size: 100%; }
	
	ol, ul { margin: 0 0 1.5em; }
	
	p { margin: 0 0 1.5em; }
	
	table { width: 100%; }
	
	/* Inline */
	
	a { color: #3cc; text-decoration: none; }
	
	abbr { border: 0; }
	
	img { border: 0; vertical-align: bottom; }


/* 2. USER INTERFACE
----------------------------------------------------------------------------- */

	/* RootClear Floats */
	
	.group:after,
	#header:after,
	#utility:after,
	#content:after { height: 0; clear: both; content: "\0020"; display: block; visibility: hidden; }
	
	/* CSS3 Transitions */
	
	a,
	a:hover,
	#header,
	#nav,
	.share,
	#footer,
	.background { -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out !important; }
	
	/* Classes */
	
	.logo a,
	.utility a { display: block; }
	
	.section { border-bottom: 1px dotted #e5e5e5; padding: 20px 0; position: relative; }
	.section strong, .section em { display: block; }
	.section em { color: #ccc; font: normal 16px 'PFHandbookProRegular'; text-transform: uppercase; }
	
	/* Header */
	
	#header { height: 39px; width: 100%; background: #fff; background: rgba(255,255,255,.9); border-bottom: 1px solid #e5e5e5; position: fixed; top: 0; left: 0; text-transform: uppercase; z-index: 800; }
	#header .logo { float: left; font: 18px/19px 'PFHandbookProBold'; margin: 0; }
	#header .logo a { height: 19px; background: url(images/sprites.png) no-repeat -230px 0; color: #333; padding: 10px 0 10px 65px; }
	#header .title { color: #3cc; float: left; font: 18px/19px 'PFHandbookProBold'; margin: 0; padding: 10px 20px; }
	#header .subtitle { color: #ccc; float: right; font: 15px/19px 'PFHandbookProBold'; margin: 0; padding: 10px; }
	#header .utility { float: right; font: 15px/19px 'PFHandbookProBold'; margin: 0 10px 0 0; }
	#header .utility a { display: block; float: left; padding: 10px; }
	#header .share { color: #9c3; }
	#header .share:hover { background: #9c3; color: #fff; }
	#header .download  { color: #f33; }
	#header .download:hover { background: #f33; color: #fff; }
	
	/* Nav */
	
	#nav { margin: 0 0 0 -116px; position: fixed; left: 50%; z-index: 900; }
	
	/* Content */
	
	#content { max-width: 800px; margin: 0 auto; padding: 1200px 80px 0; position: relative; z-index: 200; }
	#content img { width: 100%; }
	#content li { list-style-type: none; }
	#content li li { list-style-type: disc; margin: 0 0 0 1.25em; }
	
	/* Buttons */
	
	#prev,
	#next { width: 100px; height: 40px; background: transparent url(images/sprites.png) no-repeat; display: block; margin: 0 0 0 -45px; position: fixed; left: 50%; text-indent: -9999px;
		-webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }
	#prev { background-position: -230px -50px; opacity: 1; top: 40px; z-index: 900; }
	#prev:hover { background-position: -230px -140px; }
	#next { background-position: -230px -90px; bottom: 0; z-index: 900; }
	#next:hover { background-position: -230px -180px; }
	#back-to-top { color: #e5e5e5; color: rgba(0,0,0,.1); display: block; font: 15px/19px 'PFHandbookProBold'; position: fixed; top: 60px; right: 20px; text-transform: uppercase; z-index: 600; }
	#back-to-top:hover { color: #3cc; }
	
	/* Share */
	
	#share { width: 100%; height: 100%; background: #333; background: rgba(0,0,0,.5); display: none; position: fixed; top: 0; right: 0; z-index: 1100; }
	#share .modal { width: 260px; height: 80px; background: #fff; margin: -100px 0 0 -150px; padding: 20px; position: absolute; top: 50%; left: 50%; text-align: center;
		border-radius: 3px; }
	#share .close { width: 100px; background: #f33; color: #fff; display: block; font: 15px/19px 'PFHandbookProBold'; margin: 15px auto 0; padding: 5px 10px; text-transform: uppercase;
		border-radius: 3px; }
	#___plusone_0 { width: 66px !important; }
	
	/* Footer */
	
	#footer { height: 39px; width: 100%; background: #fff; background: rgba(255,255,255,.9); border-top: 1px solid #e5e5e5; display: none; position: fixed; left: 0; text-transform: uppercase; z-index: 700; }
	#footer .share { color: #9c3; display: block; float: right; font: 15px/19px 'PFHandbookProBold'; padding: 10px 20px; }
	#footer .share:hover { background: #9c3; color: #fff; }
	
	/* Arrows */
	#arrows li { width: 30px; height: 80px; background: transparent url(images/sprites.png) no-repeat; position: absolute; left: 0; }
	#arrows li.letter,
	#arrows li.board { background-position: 0 -100px; }
	#arrows li.communication,
	#arrows li.financials { background-position: -40px -100px; }
	#arrows li.caring,
	#arrows li.appendices { background-position: -80px -100px; }
	#arrows li.business { background-position: -120px -100px; }
	#arrows li.workforce { background-position: -160px -100px; }


/* 3. SPECIFIC CONTENT
----------------------------------------------------------------------------- */

	/* Cover */
	
	.top #header { top: -40px; }
	.top #nav { display: none !important; }
	.top #content { z-index: 0; }
	.top #prev { opacity: 0; }
	.top #back-to-top { display: none; }
	.top #footer { bottom: -40px; }
	
	#cover { width: 100%; height: 100%; overflow: hidden; position: absolute; z-index: 100; }
	#cover .logo { width: 225px; height: 95px; margin: 0; position: absolute; top: 0; left: 0; z-index: 100; }
	#cover .logo a { height: 95px; background: url(images/sprites.png) no-repeat 0 0; }
	#cover .logo a abbr { display: none; }
	#cover .title { color: #32363b; font: 450%/1 'PFHandbookProBold'; letter-spacing: -0.05em; margin: -36px 0 0; position: absolute; top: 50%; left: 50%; z-index: 100; }
	#cover .subtitle { color: #3cc; font: 200%/1 'PFHandbookProRegular'; padding: 0 0 0 2px; margin: 36px 0 0; position: absolute; top: 50%; left: 50%; z-index: 100; }
	#cover .nav { list-style-type: none; margin: -124px 0 0 -182px; position: absolute; top: 50%; left: 25%; text-align: right; z-index: 100; }
	#cover .nav li { font: 150%/1.5 'PFHandbookProRegular'; text-transform: uppercase }
	#cover .nav li a { color: #ccc; }
	#cover .nav li a:hover { color: #3cc; }
	#cover .utility { font: 15px/19px 'PFHandbookProBold'; position: absolute; bottom: 20px; left: 20px; text-transform: uppercase; z-index: 100; }
	#cover .utility a { color: #fff; border-radius: 3px; float: left; padding: 5px 10px; }
	#cover .share { background: #9c3; margin: 0 10px 0 0; }
	#cover .download { background: #f33; }
	#cover .background { margin: -600px 0 0; position: absolute; top: 50%; right: -460px; z-index: 1; }
	
	.top #cover .background { right: 0; }
	
	/* Technicolor */
	
	#cover .nav .letter a:hover,
	#cover .nav .board a:hover { color: #9c3; }
	#cover .nav .communication a:hover,
	#cover .nav .financials a:hover { color: #f33; }
	#cover .nav .business a:hover { color: #f09; }
	#cover .nav .workforce a:hover { color: #fc3; }
	
	/* Letter */
	
	#letter .column { width: 400px; float: left; text-align: center; }
	#letter .column { text-align: center; }
	#letter .column p,
	#letter .column h2 { margin: .25em 0; text-transform: none; }
	#letter .column .circle { margin: 0 50px 20px; }
	
	/* Board */
	
	.circle { width: 300px; height: 300px; background: url(images/board.jpg) no-repeat; }
	.dennis { background-position: 0 0; }
	.barry { background-position: -301px 0; }
	.david { background-position: -602px 0; }
	.john { background-position: -903px 0; }
	.kevin { background-position: -1204px 0; }
	
	#letter .circle { float: left; margin: 2em; }
	#letter .group { margin: 0 0 40px; }
	#letter .group p,
	#letter .group h2 { margin: 0; }
	#letter .group h2 { font: 150%/1 'PFHandbookProBold'; text-transform: none; }
	
	#board .circle { margin: 3em auto 1em; }
	#board .directors { text-align: center; }
	#board .directors p,
	#board .directors h2 { margin: 0; }
	#board .directors h2 { font: 150%/1 'PFHandbookProBold'; text-transform: none; }
	#board .others { margin: 80px 0 0 0; }
	#board h3 { color: #ccc; font: 18px/19px 'PFHandbookProBold'; margin: 1.5em 0 0; }
	
	#appendices p { margin: 0 0 .75em; }


/* 4. MEDIA QUERIES
----------------------------------------------------------------------------- */

@media (max-device-width: 1024px), (max-width: 1024px) {

	#cover .title { font-size: 400%; }
	#content { max-width: 640px; }
	#letter .column { width: 320px; }
	#letter .column .circle { margin: 0 10px 20px; }

}

@media (max-device-width: 990px), (max-width: 990px) {

	#header .subtitle { display: none; }
	#header .utility .share { display: none; }
	#cover .title { top: 25%; left: 15%; }
	#cover .subtitle { font-size: 175%; margin: 24px 0 0; top: 25%; left: 15%; }
	#cover .nav { margin: 75px 0 0; top: 25%; left: 15%; text-align: left; }
	#nav { margin: 0; left: 20px; }
	#footer { display: block; bottom: 0; }
	#letter .column { float: none; margin: 0 auto 20px; }
	#next { bottom: 40px; }

}

@media (max-device-width: 750px), (max-width: 750px) {

	#prev,
	#next { display: none; }
	#cover { font-size: 75%; }
	#cover .title,
	#cover .subtitle,
	#cover .nav { left: 10%; }

}

@media (max-device-width: 480px), (max-width: 480px) {
	
	blockquote { font-size: 150%; }
	h1 { font-size: 200%; }
	h2,
	h3 { margin: 1em 0 .5em; }
	.section { margin: 0; padding: 60px 0 0; }
	#header .logo a { background-position: -240px 0; padding: 10px 0 10px 55px; }
	#header .utility { margin: 0; }
	#nav { left: 10px; }
	#cover .logo,
	#cover .nav,
	#cover .utility { display: none; }
	#cover .title,
	#cover .subtitle { top: 50%; }
	#cover .background { width: 230px; height: 600px; margin: -300px 0 0; right: -30px; }
	#content { font-size: 75%; padding: 640px 15px 50px; }
	#footer .share { padding: 10px; }
	#arrows { display: none; }

}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {

	.circle { width: 225px; height: 225px; background-size: 75%; }

}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {

	.circle { width: 150px; height: 150px; background-size: 752px 150px; }
	.dennis { background-position: 0 0; }
	.barry { background-position: -150.5px 0; }
	.david { background-position: -301px 0; }
	.john { background-position: -451.5px 0; }
	.kevin { background-position: -602px 0; }

}


/* 5. DEVELOPMENT
----------------------------------------------------------------------------- */

#load { width: 100%; height: 100%; background: #000 url(images/loading.gif) no-repeat center; display: none; opacity: .8; position: fixed; top: 0; left: 0; z-index: 1000; }
